/* .container {
  margin: 0 auto !important;
  max-width: 95% !important;
} */

a, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


* {
    color: #F5F3F4;
    font-family: 'Dosis', sans-serif;
    font-size: 64px;
  }
  
  body {
    margin: 0;
    background-color: #373737;
  }
  
  @media screen and (max-width: 550px){
    .title-text {
      font-size: 0.6rem;
    }
  }
  
  .bg-primary {
    background-color: #373737 !important;
  }
  
  .bg-secondary {
    background-color: #484848 !important;
  }
  
  .text-primary {
    color: #F5F3F4 !important;
    transition: color 0.5s ease;
  }
  
  a.text-primary:hover {
    color: #14FF00 !important;
  }
  
  .text-primary-emphasis {
    color: #14FF00 !important;
    font-size: 0.4rem;
  }
  
  .text-secondary-emphasis {
    color: #FFB800 !important;
    font-size: 0.4rem;
    transition: color 0.5s ease;
  }
  
  a.text-secondary-emphasis:hover {
    color: #14FF00 !important;
  }
  
  .title-primary-emphasis {
    color: #14FF00;
  }
  
  .title-secondary-emphasis {
    color: #FFB800;
  }
  
  .border-primary {
    border-color: #14FF00 !important;
    transition: border-color 0.5s ease-out;
  }
  
  .navbar-toggler {
    border: none !important;
  }
  
  .navbar-toggler:hover, .navbar-toggler:focus {
    box-shadow: none !important;
  }
  
  /* .menu-icon:active, .menu-icon:focus {
    border-color: green !important;
  } */
  
  .navbar-toggler-icon {
    background-image: url(navbar-icon.svg);
    width: 80px;
    height: 80px;
    font-size: 1rem !important;
  }
  
  /* .navbar-toggler-icon:hover {
    background-color: yellow !important;
  } */
  
  .navbar-toggler {
    font-size: 0rem !important;
    padding: 0.01rem !important;
  }
  
  h2 {
    font-size: 0.75rem;
  }
  
  .body-text {
    font-size: 0.4rem;
  }
  
  .rounded {
    border-radius: 20% !important;
  }
  
  .text-secondary {
    color: #FFB800 !important;
    font-size: 0.4rem;
  }
  
  .card-title {
    font-size: 0.6rem;
  }
  
  .card {
    cursor: pointer !important;
    background-color: #373737;
  }
  
  /* .border-primary {
    border-color: #B0D7FF !important;
  } */
  
  .modal-content {
    background-color: #373737;
  }
  
  .modal-title {
    font-size: 0.6rem;
    border-color: #14FF00 !important;
  }
  
  .modal-stack {
    font-size: 0.5rem;
  }
  
  .modal-content {
    font-size: 0.4rem;
  }
  
  .btn-info {
    background-color: #FFB800 !important;
    color: #373737;
    transition: background-color 0.5s ease-out !important;
  }
  
  .btn-info:hover, .btn-info:focus {
    background-color: #14FF00 !important;
    transition: background-color 0.5s ease !important;
    outline: none !important;
    box-shadow: none;
  }
  
  .btn-close {
    background-image: url(svg/closebutton.svg);
    opacity: 1.0;
  }
  
  .btn-close:hover, .btn-close:focus {
    opacity: 0.5;
  }
  
  .btn-close:focus {
    outline: none !important;
    box-shadow: none;
  }
  
  .card-transition:hover, card-transition:focus {
    border-color: #FFB800 !important;
    transition: border-color 0.5s ease !important;
  }
  
  .portfolio-card-img {
    width: auto;
    height: 160px;
  }
  
  .centerFigures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .resume-background {
    background-color: #f5f3f4;
  }
  
  .resume-header {
    font-size: 0.45rem;
  }
  
  .resume-header-character {
    font-size: 0.45rem;
    color: #FFB800;
  }
  
  .resume-text {
    color: black;
    font-size: 0.4rem;
  }
  
  .resume-separator {
    color: #F5F3F4;
    font-size: 0.5rem;
  }
  
  .resume-title {
    color: #14FF00;
    font-size: 1.1rem;
  }
  
  .resume-link {
    font-size: 0.35rem;
    color: #F5F3F4 !important;
    text-decoration: none;
  }
  
  .box-link {
    font-size: 0.4rem;
    color: #6b6b6b !important;
    transition: color 0.5s ease-out !important;
  }
  
  .box-link:hover {
    color: white !important;
    transition: color 1s ease !important;
  }
  
  .border-dot {
    border: 4px dotted !important;
    border-color: #6b6b6b !important;
    transition: border-color 0.5s ease-out !important;
  }
  
  .border-dot:hover {
    border-color: white !important;
    transition: border-color 0.5s ease !important;
  }

  /* Below is PDF modifications */